.site-header {
  min-height: 56px;
  background-color: #fff;

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 5;
}

.site-nav {
  float: right;
  padding-top: $spacing-unit / 2;

  @include media-query($on-palm) {
    padding-top: 0;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-transform: lowercase;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border-radius: 2px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 0px 15px;

      &:not(:last-child) {
        margin-right: 0;
      }

      &:hover,
      &:active,
      &:focus {
        color: $brand-color;
      }
    }
  }
}
