// Our variables
$base-font-family: 'Quicksand', sans-serif;
$header-font-family: 'Montserrat', sans-serif;
$base-font-size:   1.2em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.65;
$base-line-height: 2;

$spacing-unit:     30px;

$grey-color:       #84807c;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       $grey-color-dark;
$background-color: $grey-color-light;
$brand-color:      #ED1882;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
